@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="ChatHeaderBar">
    
</div>
<div id="ChatContent">
    <div class="SenderChatMessage">
        <div class="MessageSender">
            Ryan
        </div>
        <span class="MessageContent">
            Hey, hoe gaat het met je vandaag?
        </span>
    </div>

    <div class="ReceiverChatMessage">
        <div class="MessageSender">
            Jan
        </div>
        <span class="MessageContent">
            Hoi Ryan! Het gaat goed, dank je. En met jou?
        </span>
    </div>

    <div class="SenderChatMessage">
        <div class="MessageSender">
            Ryan
        </div>
        <span class="MessageContent">
            Ook goed! Ben je al bekend met het platform?
        </span>
    </div>

    <div class="ReceiverChatMessage">
        <div class="MessageSender">
            Jan
        </div>
        <span class="MessageContent">
            Ja, het ziet er geweldig uit. Ik heb alleen wat vragen over het gebruik.
        </span>
    </div>
</div>
<div class="ChatInputBar">
    <input class="ChatInput" type="text"/>
    <div id="ChatSendButton" class="material-symbols-outlined">
            send
    </div>
</div>
