@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div  id="ChatListInnerContainer">
    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">GezelligeKletsgroep</div>
                <div class="LastChatMessage">Sam: Hallo allemaal, hoe gaat het met jullie?</div>
            </div>
            <div class="GreenDot">4</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">FamilieUpdate</div>
                <div class="LastChatMessage">OmaAnnie: Ik heb zo'n heerlijke wandeling gemaakt vandaag!</div>
            </div>
            <div class="GreenDot">2</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">BoekClubLezers</div>
                <div class="LastChatMessage">Lisa: Heeft iemand hoofdstuk 3 al gelezen? Zo spannend!</div>
            </div>
            <div class="GreenDot">1</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">VriendenKlets</div>
                <div class="LastChatMessage">Tom: Zien we elkaar zaterdag om 18.00 uur?</div>
            </div>
            <div class="GreenDot">5</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">SportFanaten</div>
                <div class="LastChatMessage">Alex: Wat een wedstrijd gisteravond!</div>
            </div>
            <div class="GreenDot">3</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">ReceptenRuil</div>
                <div class="LastChatMessage">Eva: De lasagne was een groot succes, bedankt voor het recept!</div>
            </div>
            <div class="GreenDot">8</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">ReisMaatjes</div>
                <div class="LastChatMessage">Jan: Wie is er klaar voor de vakantie?</div>
            </div>
            <div class="GreenDot">6</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">MuziekLiefhebbers</div>
                <div class="LastChatMessage">Emma: Hebben jullie dat nieuwe album gehoord?</div>
            </div>
            <div class="GreenDot">4</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">FilmAvonden</div>
                <div class="LastChatMessage">Max: De film gisteravond was geweldig!</div>
            </div>
            <div class="GreenDot">2</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">StudentenGroep</div>
                <div class="LastChatMessage">Sara: Vergeet niet de deadline van morgen!</div>
            </div>
            <div class="GreenDot">9</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">HardloopClub</div>
                <div class="LastChatMessage">Lars: Laten we zondagochtend een nieuwe route proberen.</div>
            </div>
            <div class="GreenDot">3</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">BakkersFans</div>
                <div class="LastChatMessage">Mila: Mijn brood is eindelijk perfect gelukt!</div>
            </div>
            <div class="GreenDot">1</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">FotoEnVideo</div>
                <div class="LastChatMessage">Rob: Die foto van je reis is fantastisch!</div>
            </div>
            <div class="GreenDot">7</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">KunstenaarsHoek</div>
                <div class="LastChatMessage">Lisa: Heb je de nieuwe schilderijen al gezien?</div>
            </div>
            <div class="GreenDot">5</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">TechPraat</div>
                <div class="LastChatMessage">Daan: Hebben jullie de nieuwste smartphone gezien?</div>
            </div>
            <div class="GreenDot">3</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">BuitenAvonturen</div>
                <div class="LastChatMessage">Sanne: Wie doet er mee aan de wandeltocht?</div>
            </div>
            <div class="GreenDot">6</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">GezondEten</div>
                <div class="LastChatMessage">Finn: Deze smoothie is echt een aanrader!</div>
            </div>
            <div class="GreenDot">4</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">FotografenGroep</div>
                <div class="LastChatMessage">Lotte: Dit is het perfecte moment om naar buiten te gaan voor foto's!</div>
            </div>
            <div class="GreenDot">8</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">KlussenEnKnutselen</div>
                <div class="LastChatMessage">Bart: Mijn werkbank is eindelijk af!</div>
            </div>
            <div class="GreenDot">2</div>
        </div>
    </div>

    <div class="ChatOuterContainer">
        <div class="ChatInnerContainer">
            <div class="ChatNameContainer">
                <div class="ChatName">VoetbalVrienden</div>
                <div class="LastChatMessage">Kevin: Gaan we morgen kijken in de kroeg?</div>
            </div>
            <div class="GreenDot">10</div>
        </div>
    </div>
</div>
