@using SeniorConnectMessengerWeb.Helpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@inject UserService userService
<div id="ChatListContainer">
    <div class="OptionsBar">
        <div id="AddChat" class="material-symbols-outlined">
            add
        </div>
    </div>
    <div id="ChatListInnerContainer">
    </div>
</div>
  

<script src="~/js/ChatList.js"></script>
<script>
    const chatList = new ChatList(@userService.GetCurrentUserId(Context), "/");
    (() => {
       
    })()
</script>