<div id="ChatButton" class="Icon IconActive">
    <span class="material-symbols-outlined">
        chat
    </span>
</div>

<div class="ButtonsBelowContainer">
    <div id="MyProfileButton" class="Icon">
        <span class="material-symbols-outlined">
            account_circle
        </span>
    </div>
    <div id="SettingsButton" class="Icon">
        <span class="material-symbols-outlined">
            settings
        </span>
    </div>
</div>

<script src="~/js/MainBar.js"></script>
<script>
    const mainBar = new MainBar("/");
</script>