<div class="SeniorPopup" tabindex="1" style="display:none;position:absolute;" id="UserOptionsPopup">
    <div id="AdminUser" class="UserOption UserAdminOption">
        Maak admin
    </div>
    <div id="DeleteUser" class="UserOption UserDeleteOption">
        Verwijder uit chat
    </div>
</div>