<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeniorConnectMessengerWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script defer src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0..1,0" rel="stylesheet" />
    <link rel="stylesheet" href="~/SeniorConnectMessengerWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_UserOptions" />

    <div class="MainContainer">
            <!--left navbar with settings and profile-->
        <div class="MainContainerBar">
            <partial name="_ChatBar" />
        </div>
        <div class="AppContainer">
            <div id="MainChatNavigation">
                <!--The chat list-->
                @RenderBody()
            </div>
            <div id="SharedContainer">
                <!--The actual chat-->
                <div id="ChatContainer">
                    <partial name="_Chat" />
                </div>
                <!--For seeing a friends profile-->
                <div style="display:none;" id="SecondaryContainer">
                    <div id="UserList">
                        <div class="UserListUser" ShowTargetPopupId="UserOptionsPopup"
                             PopupX="left" PopupY="bottom" />
                            <div class="UserListInfo">
                                <div class="UserListName">Ryan Evertz</div>
                                <div class="UserListAdmin">Admin</div>
                            </div>
                            <div class="UserListButtons">
                                <span class="material-symbols-outlined">more_vert</span>
                            </div>
                        </div>
                <div class="UserListUser" ShowTargetPopupId="UserOptionsPopup"
                             PopupX="left" PopupY="bottom" />
                            <div class="UserListInfo">
                                <div class="UserListName">Ryan Evertz</div>
                                <div class="UserListAdmin">Admin</div>
                            </div>
                            <div class="UserListButtons" >
                                <span class="material-symbols-outlined">more_vert</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(() => {
            $(".UserListUser").click(ShowPopup);
            $(".SeniorPopup").focusout(HidePopup);
        });

        function HidePopup() {
            console.log("hide");
            $(this).hide();
        }

        function ShowPopup() {
            console.log("show");

            const popup = $("#" + $(this).attr("ShowTargetPopupId"))
            if (popup.css("display") != "none") {
                popup.hide();
                return;
            }

            const originElementRect = this.getBoundingClientRect();
            const x = $(this).attr("PopupX");
            const y = $(this).attr("PopupY");
            if (popup == null) {
                console.warn("Popup with the id: " + $(this).attr("ShowTargetPopupId") + " not found");
                return;
            }
            const width = popup.width();
            const height = popup.height();

            let clientXPosition = 0;
            let clientYPosition = 0;
            if (x == "left") {
                clientXPosition = originElementRect.right - width;
            } else if (x == "right") {
                clientXPosition = originElementRect.left;
            } else if (x == "center") {
                clientXPosition = (originElementRect.left + originElementRect.width / 2) - width / 2;
            }

            if (y == "top") {
                clientYPosition = originElementRect.top;
            } else if (y == "bottom") {
                clientYPosition = originElementRect.bottom;
            }

            popup.css("left", clientXPosition);
            popup.css("top", clientYPosition);
            popup.show();
            popup.focus();
        }
    </script>
</body>
</html>
